[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agentzero = "*"
gevent = "*"
click = "*"
requests = "*"
flask = "*"
grequests = "*"
flask-prometheus = "*"
ipdb = "*"

[dev-packages]

[requires]
python_version = "3.6"
